$font: "Manrope", "Arial", sans-serif;
$base-dark: #484848;
$base-light: #ffffff;
$base-dark-alt: #316dc2;
$base-light-alt: #f0efe9;
$bg: #a9afb7;
$bg-alt: #275699;
$bg-overlay-ligth: rgba(49, 109, 194, 0.2);
$bg-overlay-dark: rgba(13, 29, 51, 0.4);
$bg-style: rgba(169, 175, 183, 0.7);
$bg-style-light: rgba(255, 255, 255, 0.7);
$error: rgba(255, 94, 102, 0.5);
$width-alt-small: 290px;
$width-alt-medium: 678px;
$width-alt-big: 1240px;
$min-width-mobile: 320px;
$min-width-tablet: 768px;
$min-width-desktop: 1440px;
$margin-left: calc(50% - 50vw);
$width-100vw: 100vw;
